*{
    font-family: sans-serif;
}


body{
    margin: 0;
    background-color: #fff;
}
header{
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    margin:0 auto;
    color: #131313;
    border-bottom: 1px solid gray;
    border-width: 85%;
    text-align: center;
    padding: .1em;
    position: fixed;

}

a{
    font-size: large;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    margin-left: .3em;
    margin-right: .3em;
    color: #000;
    transition: all ease-out .25s;
}
a:hover{
    border-bottom: 1px solid black;
    font-size: larger;
}
#frontPhoto{
    width: auto;
    height: 400px;
    margin: 5% auto;
}
#frontText{
    color: #131313;
    width: auto;
    height: 40%;
    font-size: large;
    margin: 3%;
    display: block;
    /* border: 1px solid black; */
}
#buttonContainer{
    padding-left: 40%;
    padding-right: 40%;
    width: 20%;
}
#buttonContainer button{
    height: 3em;
    font-size: small;
    border-radius: 10px;
    border: 0px;
    background-color: #AAA;
}

#mainBody{
    display: inline-flex;
    width: 80%;
    margin: 0 10%;
    background-color: #fff;
    height: 100%; 
}
#FrontPage{
    background-image: url("./porsche.png");
    margin-left: auto;
    margin-right: auto;
    height: calc(100%);
    width: 80%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 100%;
    display: flex;
    align-items: center;

}
#centerBox{
    color: #141414;
    background-color: rgba(255, 255, 255, .4);
    padding: 1em;
    margin: 0 auto;
}
footer{
    width: 100%;
    text-align: center;
    border-top: 1px solid gray;
    clear: both;
    display: inline-flex;
    align-items: center;
}
footer ul{
    list-style: none;
    margin: .3em auto .3em 0;
}
footer h3{
    margin: .3em 0 .3em auto;
}
#spacer{
    float: right;
}
#title{
    width: 100%;
}
th{
    width: 100%;
}
i{
    z-index: 0;
}

@media only screen and (max-width: 600px) {
    #frontPhoto{
        display: none;
    }
    #FrontPage{
        width: 100%;
    }
    #frontText{
        display: block;
        height: auto;
    }
    img{
        display: none;
    }
    #mainBody{
        width:90%;
        margin: 0 auto 0 auto;
        display: block;
    }
    td#title{
        width: 2em;
    }
    th{
        text-align: left;
    }

}
@media only screen and (max-width: 1200px) {
    img{
        display: none;
    }
    th h3{
        height: 2em;
    }
}
